<p id="notice"><%= notice %></p>

<p>
  <strong>Revenue:</strong>
  <%= @vending_machine.revenue %>
</p>

<%= link_to 'Edit', edit_vending_machine_path(@vending_machine) %> |
<%= link_to 'Back', vending_machines_path %>
